RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# select rule depending if dicfro is run as a domain subpath, eg my.domain.com/dicfro or not
RewriteRule ^.*$ /index.php [NC,L]
# RewriteRule ^.*$ /dicfro/index.php [NC,L]
